<div class="navbar navbar-default navbar-static-top top-menu" role="navigation" id="topMenu">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="@Url.Content("~/Content/Images/logo_white.png")" height="40"/>
    </a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li>
    <a class="dropdown-toggle" href="@Url.Action("Index",
                                                 "Home")">TỔNG QUAN
    </a>
</li>
<li>
    <a href="#">Giám sát <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("Index",
                                 "Monitor")">
                <i class="fa fa-desktop"></i>Giám sát nhân viên
            </a>
        </li>
        <li>
            <a href="@Url.Action("History",
                                 "Monitor")">
                <i class="fa fa-undo"></i>Xem lại lộ trình
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#">Trợ giúp<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>
            <!-- The mega drop down contents -->
            <div style="max-width: 100%; width: 580px;">
                <div style="color: #333; padding: 5px 24px; white-space: nowrap">
                    <div style="float: left; margin: 10px;" align="center">
                        <img class="company-logo" src="@Url.Content("~/Content/Images/logo.png")"/><br />
                        HOTLINE: 99999999
                    </div>
                    <div class="company-info" style="float: left; font-size: 10pt; font-weight: bold;">
                        TÊN CÔNG TY<br />
                        Địa chỉ 1<br />
                        Địa chỉ 2<br />
                        Điện thoại: SĐT<br />
                        Fax: Fax<br />
                        Email:hotro@gmail.com
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </li>
    </ul>
</li>
</ul>

<!-- Right nav -->
<ul class="nav navbar-nav navbar-right">
    <li class="divider"></li>
    <li class="dropdown">
        <a class="user" href="@Url.Action("Profile",
                                          "Settings")">
            @User.Identity.Name
        </a>
    </li>
    <li>
        <a href="@Url.Action("Logoff",
                             "Account")">Đăng xuất
        </a>
    </li>
</ul>

</div>
<!--/.nav-collapse -->
</div>
