<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><b>Admin</b>LTE</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")">Tổng quan</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Theo dõi nhân viên <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Index","Monitor")">Theo dõi nhân viên</a></li>
                            <li><a href="@Url.Action("History","Monitor")">Xem lại lộ trình</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="@Url.Content("~/Content/Images/avatar.png")" class="user-image" alt="User Image">
                            <span class="hidden-xs">@User.Identity.Name.ToUpper()</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="@Url.Content("~/Content/Images/avatar.png")" class="img-circle" alt="User Image">
                                <p>
                                    @User.Identity.Name.ToUpper()
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Tài khoản</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("LogOff","Account")" class="btn btn-default btn-flat">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>